<div class="container bucket-container management">
	<div  class="row">    
    	<div class="col-md-12">
	    	<ul class="nav nav-tabs nav-justified">
			  	<li role="presentation"><a href="/home/management_cafe">카페관리</a></li>
			  	<li role="presentation" class="active"><a href="#">유저관리</a></li>
			  	<li role="presentation"><a href="/home/management_payinfo">결제관리</a></li>
			</ul>
	      	<br>
	      	<form action="/home/management_user" method="POST">
		      	<div style="padding:0px" class="btn-group col-md-1 col-md-offset-0">
					<select name = "search_type" style="width:100%; height:46px;">
						<% if @search_type == 3 %>
					    	<option selected = "selected" value="3">이름명</option>
				    	<% else %>
				    		<option value="3">이름명</option>
				    	<% end %>
				    	<% if @search_type == 4 %>
					    	<option selected = "selected" value="4">이메일</option>
				    	<% else %>
				    		<option value="4">이메일</option>
				    	<% end %>		    		
					</select>
				</div>
		      	<div class="postnumber input-group input-group-lg col-md-11 col-md-offset-0">		      
			      	<input type="text" class="form-control" style="padding:10px; text-align:left" placeholder="검색어 입력" name="searchname" value="<%= @search_name %>">
				    <span class="input-group-btn">
				      <button class="btn btn-danger" type="submit">검색</button>
				    </span>			      
		        </div>
	        </form>	        
	      	<br>
	      	<div>
	      		<table>
				  	<tr>
					    <th class="tabletitle">사용자명</th>
					    <th class="tabletitle">이메일</th>		    
					    <th class="tabletitle">등록한 카페</th>
					    <th class="tabletitle">방문한 카페</th>
				  	</tr>
			  		<% @users.each do |u| %>
				  	<tr onclick="location.href='/home/management_edit_user/<%=u.id%>'">
					    <td><%= u.name %></td>
					    <td><%= u.email %></td>
					    <td><%=u.caves.count%></td>
					    <td><%=u.posts.select(:cafe_id).map(&:cafe_id).uniq.count %></td>	    	
				  	</tr>
				 	<% end %>		  
				</table>
		  	</div>
    	</div>
  	</div>
</div>

