<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12" align="center" style="margin:50px;">
      
    </div>
    <div class="col-md-offset-3 col-md-6">
      <form action="/home/management_save_payinfo" method="POST">
        <input type="hidden" name = "id" value="<%= @payinfo.id %>" >    
        <table style="width:100%">
          <tr>
            <th class="tabletitle">카페명</th>
            <td><input class = "form-control" type="text" name = "cafename" value="<%= @payinfo.cafe.name %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">결제자명</th>
            <td><input class = "form-control" type="text" name = "username" value="<%= @payinfo.user.name %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">결제유무</th>
            <% if @payinfo.pay_status == 'paid' %>
              <td><input class = "form-control" type="text" name = "paid" value="O" readonly="true"></td>
            <% else %>
              <td><input class = "form-control" type="text" name = "paid" value="X" readonly="true"></td>
            <% end %>
          </tr>          
          <tr>
            <th class="tabletitle">결제날짜</th>
            <td><input class = "form-control" type="text" name = "paidat"value="<%= @payinfo.paid_at.strftime("%Y-%m-%d %H:%M:%S\n") %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">결제금액</th>
            <td><input class = "form-control" type="text" name = "paid_amount"value="<%= @payinfo.paid_amount %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">주문명</th>
            <td><input class = "form-control" type="text" name = "payname"value="<%= @payinfo.name  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">결제수단</th>
            <% if @payinfo.pay_method == 'card' %>
              <td><input class = "form-control" type="text" name = "pay_method"value="카드" readonly="true"></td>
            <% elsif @payinfo.pay_method == 'trans'%>
              <td><input class = "form-control" type="text" name = "pay_method"value="실시간계좌이체" readonly="true"></td>  
            <% elsif @payinfo.pay_method == 'vbank'%>
              <td><input class = "form-control" type="text" name = "pay_method"value="가상계좌" readonly="true"></td>      
            <% elsif @payinfo.pay_method == 'phone'%>
              <td><input class = "form-control" type="text" name = "pay_method"value="휴대폰소액결제" readonly="true"></td>  
            <% end %>
          </tr>
          <tr>
            <th class="tabletitle">상점고유번호</th>
            <td><input class = "form-control" type="text" name = "merchant_uid"value="<%= @payinfo.merchant_uid  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">PG사 이름</th>
            <td><input class = "form-control" type="text" name = "pg_provider"value="<%= @payinfo.pg_provider  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">PG사 승인번호</th>
            <td><input class = "form-control" type="text" name = "pg_tid"value="<%= @payinfo.pg_tid  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">카드사 승인번호</th>
            <td><input class = "form-control" type="text" name = "apply_num"value="<%= @payinfo.apply_num  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">가상계좌 계좌번호</th>
            <td><input class = "form-control" type="text" name = "vbank_num"value="<%= @payinfo.vbank_num  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">가상계좌 은행명</th>
            <td><input class = "form-control" type="text" name = "vbank_name"value="<%= @payinfo.vbank_name  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">가상계좌 예금주</th>
            <td><input class = "form-control" type="text" name = "vbank_holder"value="<%= @payinfo.vbank_holder  %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">가상계좌 입금기한</th>
            <td><input class = "form-control" type="text" name = "vbank_date"value="<%= @payinfo.vbank_date %>" readonly="true"></td>
          </tr>
          
        </table>
        <br>
        <div class="actions">
          <input style="width:100%" class="btn btn-danger" type="submit" value="저장" id="submit_button">
        </div>
      </form>
    </div>

  </div>
</div>

<div style="display: none" class="loading"></div>

<script type="text/javascript">
$(function(){
  $("#submit_button").click(function(e){
     e.preventDefault();
     $('.loading').show();
     $(this).closest('form').submit();
  });
})  
</script>