<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
      <li role="presentation" ><a href="/home/management_cafe">카페관리</a></li>
      <li role="presentation"><a href="/home/management_user">유저관리</a></li>
      <li role="presentation" class="active"><a href="#">결제관리</a></li>
    </ul>
      
      
      <br>
      <form action="/home/management_payinfo" method="POST">
        <div class = "row">
          <div class = "col-md-4">    
            <div style="padding:0px" class = "col-md-5">
              <input style="width:100%; height:46px;" name="startdate" max="<%= Time.now.in_time_zone(9).strftime("%Y-%m-%d") %>" type="date" value="<%= @startdate %>">
            </div>
            <div style="padding:0px; display:table;" class = "col-md-2">
              <h4 style="width:100%; height:46px; margin:0px; vertical-align:middle; display:table-cell;">~</h4>
            </div>
            <div style="padding:0px" class = "col-md-5">
              <input style="width:100%; height:46px;" name="enddate" max="<%= Time.now.in_time_zone(9).strftime("%Y-%m-%d") %>" type="date" value="<%= @enddate %>">
            </div>
          </div>
          <div style="padding:0px" class="btn-group col-md-1 col-md-offset-0">
            <select name = "search_type" style="width:100%; height:46px;">
              <% if @search_type == 1 %>
                <option selected = "selected" value="1">카페명</option>
              <% else %>
                <option value="1">카페명</option>
              <% end %>
              <% if @search_type == 3 %>
                <option selected = "selected" value="3">결제자명</option>
              <% else %>
                <option value="3">결제자명</option>
              <% end %>           
            </select>
          </div>
          <div class="postnumber input-group input-group-lg col-md-7 col-md-offset-0">            
            <input type="text" class="form-control" style="padding:10px; text-align:left" placeholder="검색어 입력" name="searchname" value="<%= @search_name %>">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit">검색</button>
            </span>          
          </div>
        </div>        
      </form>
      <br>
      <div>
        
        <table>
      <tr>
        <th class="tabletitle">카페명</th>        
        <th class="tabletitle">결제자명</th>
        <th class="tabletitle">결제유무</th>
        <th class="tabletitle">결제날짜</th>        
      </tr>
      <% @payinfos.reverse.each do |p| %>
        <tr onclick="location.href='/home/management_edit_payinfo/<%=p.id%>'">
          <td><%= @cafe.where(:id=>p.cafe_id).take.name %></td>
          <td><%= @cafe.where(:id=>p.cafe_id).take.user.name %></td>
          <% if p.pay_status == 'paid' %>
            <td>O</td>
          <% else %>
            <td>X</td>
          <% end %>
          <td><%= p.paid_at.strftime("%Y-%m-%d %H:%M:%S\n") %></td>         
        </tr>
      <% end %> 
        
    </table>
    </div>
       
    </div>
  </div>
</div>
