<div class="container-fulid">
  <div class="row" style="transform:translateY(3%)">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" style="overflow-y: auto;height:800px; background-color:#f5f5f5; min-height:915px">
      <div class="row">
        <div class="top-sentence">
          <br>
          <span class="topsent1">프로필</span>
          <br><hr style='width:70%;border-color:#BABABA'>
        </div>
      </div>
      <div class="row" style="padding-left:18%;padding-right:18%;padding-bottom:5%;">
        <center>
          <div class='col-lg-5 col-md-5 col-sm-12 col-xs-12'>
          <% if @access_to_user.image? %>
            <span><img src='<%=@access_to_user.image.url%>' class ="img-circle" style="width:150px;height:150px"></span>
          <% else %>
           <img src='<%= image_url('profile_default.jpg') %>' class ="img-circle" style="width:150px;height:150px">
          <% end %>
          </div>
          <div class='col-lg-7 col-md-7 col-sm-12 col-xs-12' style="float:left">
            <div class="row">
              <% if current_user.id == @access_to_user.id %>
                <br>
                <span class="profile" style="font-size:30px; color:black;"><%=@access_to_user.name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/users/edit"><button type="button" class="btn btn-success" style="border-color:#5D5D5D;background-color:#5D5D5D">수정</button></a></span><br>
              <% else %>              
                <span class="profile" style="font-size:30px; color:black;"><%=@access_to_user.name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button id="follow" type="submit" class="btn btn-default" style=";border-color:#00acf1; color:#00acf1; display:none">팔로우</button>
                  <button id="unfollow" type="submit" class="btn btn-default" style=";color:#fff;border-color:#00acf1;background-color:#00acf1; display:none">팔로잉</button></span><br>              
              <% end %>
            </div>
            <div class="row" style="transform:translateY(15%)">
            <span class="profile" style="font-size:18px; color:#BABABA"><%=@access_to_user.email%></span>
          </div><br>
          <div class="row" style="transform:translateY(15%)">
            <span class="profile" style="font-size:18px; color:#BABABA; padding-bottom:15px">팔로워</span>
            <span style="cursor:pointer; color:black; font-size:19px" id="follower_count" data-toggle="modal" data-target="#followers">&nbsp;<%=@followers.count%>개&nbsp;&nbsp;</span>
            <span style="color:#BABABA;font-size:20px">|</span>
            <span class="profile" style="font-size:18px; color:#BABABA;">&nbsp;&nbsp;팔로잉</span>
            <span style="cursor:pointer; color:black; font-size:19px" id="following_count" data-toggle="modal" data-target="#follows">&nbsp;<%=@follows.count%>개</span>
          </div>
          </div>
        </center>
      </div>
      <div class="grid" style="margin: 0 auto; width: 70%">
        <% if @access_to_user == current_user %>
          <div class="grid-item" style="margin-bottom: 10px;width: 150px;height: 150px">
            <div class="img-rounded" style="width:150px;height:150px;padding:0px;display:table; text-align:center;border:thin dashed #717171">
              <div style="cursor:pointer;display:table-cell; vertical-align:middle;"data-toggle="modal" data-target="#addImage">
                <br>
                  <i class="fa fa-camera" style="font-size:36px;color:#717171"></i><br>  
                  <p style="padding-top:10px;color:#717171"><b>사진 추가</b></p>
              </div>
            </div>
          </div>
        <% end %>
        <% @access_to_user.posts.each do |c| %>
          <div class="grid-item img_commentimage"data-toggle="modal" data-target="#myModal"data-value="<%=c.id%>" style="cursor:pointer; margin-bottom: 10px;width: 150px;height: 150px">
            <img style="width:150px;height: 150px;"src="<%= c.image.thumb.url %>">
          </div>
        <% end %>
      </div>
    </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding:0">
    <div class="row" style="height:50px; background-color:white;margin-left:0;"></div>
      <div class="row" style="background-color:white;margin-left:0;text-align:center">
        <div class="col-sm-6 col-md-6 profile_vertical">
              <b class="profile" style="font-size:18px">등록한 카페</b><br>
                                        &nbsp;&nbsp;<span style="cursor:pointer; color:black" data-toggle="modal" data-target="#cafe_regit"><%=@access_to_user.caves.count%>개</span><br>   
        </div>
        <div class="col-sm-6 col-md-6">
          <b class="profile" style="font-size:18px">방문한 카페</b><br>
                                            &nbsp;&nbsp;<span style="cursor:pointer; color:black" data-toggle="modal" data-target="#cafe_visited"><%=@visit.count%>개</span><br>&nbsp;
        </div>
      </div>
      <!--구글 맵-->
      <div id="map_canvas" style="min-height:800px; min-width:555px;">map div</div>
  </div>
</div>
</div>
  <!-- Modal Cafe_visited -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="cafe_visited" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" sytle="position:fixed">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">방문한 카페</h4>
        </div>
        <div class="modal-body" style="width:100%;background-color: #f5f5f5;">
        <% if @visit.count == 0 %>
          <h5>방문한 카페가 없습니다.</h5>
        <% else %>
          <div class="visit-grid">
            <% @visit.each do |x| %>
              <div class="visit-grid-item">
                <div class="panel-bottom">
                  <div class="panel panel-default" style="border-radius:10px;">
                    <div class="panel-body panel-img" style="padding:0;">
                      <a href="/cafe/cafedetail?hash=<%= @caves.where(:id => x).take.cafehash %>" style="decoration:none;color:black;">
                        <img src='<%= @caves.where(:id => x).take.image.url %>' alt="<%= @caves.where(:id => x).take.name %>" style="width:100%;height:156px;padding: 0px;margin: 0px;border-top-left-radius: 9px;border-top-right-radius: 9px;" address="<%= @caves.where(:id => x).take.address %>">
                      </a>
                      <div style="padding:10px;">
                        <div style="width:100%;height:54px;text-align: left;display: table;">
                          <div style="display: table-cell;vertical-align: middle;font-size: 11px;padding-left: 10px;padding-right: 10px">
                            <%= @caves.where(:id => x).take.introduction %>
                          </div>
                        </div>
                        <hr style="margin:0px">
                        <div style="width:100%;height:50px;padding: 10px;display:table;text-align:center">
                          <a href="/cafe/cafedetail?hash=<%= @caves.where(:id => x).take.cafehash %>" style="decoration:none;color:black;">
                            <img src="<%= @caves.where(:id => x).take.thumnail.url %>" style="width:30px; height:30px; float:left; padding: 0px;border: 1px solid #e6e6e6;" alt="..." class="img-circle">
                          </a>
                          <div style="width:100%;display:table-cell;vertical-align: middle;padding-left:5px">
                            <div style="width:100%;height: 15px;float: left;">
                              <a href="/cafe/cafedetail?hash=<%= @caves.where(:id => x).take.cafehash %>" style="decoration:none;color:black;">
                                <p style="font-weight:bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;color: #555; margin: 0px;text-align: left;font-size:11px">
                                  <%=@caves.where(:id => x).take.name%>
                                </p>
                                <br>
                              </a>  
                            </div>
                            <div style="width:100%;height: 15px;float: left;text-align: left;line-height: 1px">
                              <span class="star-rating small_newsfeed">
                                <% 1.upto(5) do |i| %>
                                  <% if i == @caves.where(:id => x).take.avg.round(0) %>
                                    <i class="on"></i>
                                  <% else %>
                                    <i></i>
                                  <% end %>
                                <% end %>
                              </span> 
                              <small><%=@caves.where(:id => x).take.avg.round(1)%> 점 (<%=@caves.where(:id => x).take.posts.where.not(:user_id=>@caves.where(:id => x).take.user_id).count%> 명)</small>
                            </div>
                          </div>
                        </div>
                        <hr style="margin:0px">
                        <div style="width:100%;height:31px;text-align: left;display: table;">
                          <div style="display: table-cell;vertical-align: middle;font-size: 11px;padding-top: 10px; padding-left: 10px;padding-right: 10px;color: #b0b0b0">
                            <span>#<%= Tag.where(:cafe_id => @caves.where(:id => x).take.id)[3].content %></span>
                            <span>#<%= Tag.where(:cafe_id => @caves.where(:id => x).take.id)[4].content %></span>
                            <span>#<%= Tag.where(:cafe_id => @caves.where(:id => x).take.id)[5].content %></span>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
        <div class="modal-footer" style="border-style:none;background-color: #f5f5f5;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->
<!-- Modal Cafe_regit -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="cafe_regit" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">등록한 카페</h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">카페 목록</a></li>
              <li><a data-toggle="tab" href="#menu1">결제 내역</a></li>
            </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <% if @access_to_user.caves.count == 0 %>
                <h5>등록하신 카페가 없습니다.</h5>
                <% else %>
                <% @access_to_user.caves.each do |x| %>
                <div class="row">
                  
                  <div class="col-md-2">
                    <img src="<%=x.thumnail.url %>" style="width:70px; height:70px; float:left; margin-right:10px" alt="..." class="img-circle">
                  </div>

                  <div class="col-md-8">
                    <br>
                    <b><%=x.name%></b>
                    <p><%=x.address_road%></p>
                  </div>

                  <div class="col-md-2">
                    <br>
                    <a href="/cafe/cafedetail?hash=<%=x.cafehash%>" style="color:black">Update</a>
                  </div>
                </div>
                <br>
                <% end %>
                <% end %>
              </div>
              <div id="menu1" class="tab-pane fade">
                <% if @access_to_user.caves.count == 0 %>
                <h5>서비스 준비 중 입니다.</h5>
                <% else %>
                <h5>서비스 준비 중 입니다.</h5>
                <% end %>
              </div>
            </div>
          
        </div>
        <div class="modal-footer" style="border-style:none">
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<!-- END -->
<!-- Modal for Followers -->
<div id="followers" class="modal fade" role="dialog" tabindex="-1" style="align-items:center">
  <div class="modal-dialog" style="width:35%;height:35%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">팔로워</h4>
      </div>
      <div class="modal-body" id="follower_modal_name">
        <% if @access_to_user.followers.count == 0 %>
          <div class="row removing" id="no_follower_modal_name">
            <center id="no_follower">
              <b>팔로워가 없습니다.</b>
            </center>
          </div>
        <% else %>
          <% @followers.each do |follower| %>
            <div class="row removing">
              <div class="col-lg-8">
                <% if follower.image? %>
                  <a href="/home/profile/<%=follower.user_hash%>" style="color:black">
                    <img src="<%=follower.image.url%>" class="img-circle">&nbsp;
                    <%= follower.name %>
                  </a>
                <% else %>
                  <a href="/home/profile/<%=follower.user_hash%>" style="color:black">
                    <img src="<%=image_url('profile_default.jpg')%>" class="img-circle">&nbsp;
                    <%= follower.name %>
                  </a>
                <% end %>
              </div>
              <div class="col-lg-4" id="follow_modal">
                <% if current_user != follower %>                  
                    <button type="submit" id="other_unfollow_<%=follower.id%>" class="btn btn-default" style="color:#fff;border-color:#00acf1;background-color:#00acf1">팔로잉</button>                 
                    <button type="submit" id="other_follow_<%=follower.id%>" class="btn btn-default" style="border-color:#00acf1; color:#00acf1">팔로우</button>
                <% end %>
              </div>
            </div><br>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer" style="border-style:none">
      </div>
    </div>
  </div>
</div>
<!-- END -->

<!-- Modal for Followings -->
<div id="follows" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" style="width:35%;height:35%">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">팔로잉</h4>
      </div>
      <div class="modal-body">
        <% if @access_to_user.follows.count == 0 %>
          <div class="row">
            <center>
              <b>팔로우 해보세요!</b><br><br>
              <a href="/home/newsfeed" style="decoration:none;"><button type="button" class="btn btn-success">팔로우하러 가기</button></a>
            </center>
          </div>
        <% else %>
          <% @follows.each do |follow| %>
            <div class="row">
              <div class="col-lg-8">
                <% if User.where(:id => follow.followable_id).take.image? %>
                  <a href="/home/profile/<%=User.where(:id => follow.followable_id).take.user_hash%>" style="color:black">
                    <img src="<%=User.where(:id => follow.followable_id).take.image.url%>" class="img-circle">&nbsp;
                    <%= User.where(:id => follow.followable_id).take.name %>
                  </a>
                <% else %>
                  <a href="/home/profile/<%=User.where(:id => follow.followable_id).take.user_hash%>" style="color:black">
                    <img src="<%=image_url('profile_default.jpg')%>" class="img-circle">&nbsp;
                    <%= User.where(:id => follow.followable_id).take.name %>
                  </a>
                <% end %>
              </div>
              <div class="col-lg-4">
                <% if current_user != User.where(:id => follow.followable_id).take %>
                  <button type="submit" id="other_unfollowing_<%=follow.id%>" class="btn btn-default" style="color:#fff;border-color:#00acf1;background-color:#00acf1">팔로잉</button>                   
                  <button type="submit" id="other_following_<%=follow.id%>" class="btn btn-default" style="border-color:#00acf1; color:#00acf1">팔로우</button>
                <% end %>
              </div>
            </div><br>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer" style="border-style:none">
      </div>
    </div>

  </div>
</div>
<!-- END -->
<!-- image slider layer popup start -->
<div id="myModal" class="modal fade" role="dialog" name="modal_window">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<!-- Modal content-->
<% @access_to_user.posts.each do |c| %>
  <div class="col-md-12" id="window" data-value="<%=c.id%>" style="display: none;">
    <div class="row">
      <div id="imagewindow">
        <div class="row">
          <div class="leftbutton-container col-md-2 col-sm-2 col-xs-3">
            <div class="leftbutton" data-slide="prev" data-value="<%=c.id%>">
              <span>&lsaquo;</span>
            </div>
          </div>
          <div class="modalimage-container col-md-8 col-sm-8 col-xs-6" align="center">
            <div>
                <img class="imagecontainer slide-image img-rounded" id ="showImage" src="<%=c.image.thumb.url%>" alt="">
            </div>
          </div>
          <div class="rightbutton-container col-md-2 col-sm-2 col-xs-3">
            <div class="rightbutton" data-slide="next"data-value="<%=c.id%>">
              <span>&rsaquo;</span>
            </div>
          </div>
        </div>
      </div>
      <div id="contentwindow">
        <div class ="row">
          <div class="post_userinfo-container">
            <div>
              <% if User.where(:id=>c.user_id).take.image? %>
                <img src='<%=User.where(:id=>c.user_id).take.image.url %>' class="img-circle">
              <% else %>
               <img src='<%= image_url('profile_default.jpg') %>' class ="img-circle">
              <% end %>
            </div>
            <span class="postinfo-username"><%=User.where(:id=>c.user_id).take.name%></span>
            <i id = "like_button_<%= c.id %>" class="fa fa-heart-o"></i>            
            <a id = "like_list_button_<%= c.id %>" style="cursor: pointer" data-toggle="modal" data-target="#like_list">좋아요 <span id="like_count_<%= c.id %>" ><%= c.likes.count %></span>개</a>            
            <% unless current_user.nil? %>
              <% if current_user == @access_to_user || current_user.id == 1 %>
                <a class="postinfo-delete" href="/cafe/delete_post/<%=c.id%>"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="해당 게시물을 삭제하시면 관련된 모든 댓글이 삭제됩니다."></span></a>
              <% else %>                  
                <button type="submit" id="unfollow_<%=c.id%>" class="btn btn-default" style="color:#fff; border-color:#00acf1; background-color:#00acf1; float:right">팔로잉</button>
                <button type="submit" id="follow_<%=c.id%>" class="btn btn-default" style="border-color:#00acf1; color:#00acf1; float:right">팔로우</button> 
              <% end %>
            <% end %>
            <br><span class="star-rating small">
              <% 1.upto(5) do |i| %>
                <% if i == c.score %>
                  <i class="on"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
        <hr class="featurette-divider post_divider">
        <div class="row post_reply_container">
          <div id="reply_div" data-value="<%=c.id%>">
            <div class="row" id="replyblock" data-value="<%=c.id%>">
              <div class="col-md-3 col-sm-3 col-xs-3" id="replyimage">
                <% if User.where(:id=>c.user_id).take.image? %>
                  <img src='<%=User.where(:id=>c.user_id).take.image.url %>' class="img-circle">
                <% else %>
                 <img src='<%= image_url('profile_default.jpg') %>' class ="img-circle">
                <% end %>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9" id="reply_contents" data-value="<%=c.id%>">
                <div class="row">
                  <div id="reply_username_content_time1">
                    <a id="replyname" href="/home/profile/<%=c.user.user_hash%>"><%=User.where(:id=>c.user_id).take.name%></a>
                    <span id="replycontent"><%= c.content %></span>
                    <% c.tags.each do |tag| %>
                      <span class="post_tag_content">
                        #<%=tag.content%>
                      </span>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div id="reply_username_content_time2">
                    <span><b><%=c.address%></b>에서</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <span><%=c.writtentime.strftime('%Y-%m-%d %H:%M:%S')%></span>
                  </div>
                </div>
              </div>
            </div>
            <% c.replies.each do |r| %>
              <div class="row" id="replyblock" data-value="<%=r.id%>">
                <div class="col-md-3 col-sm-3 col-xs-3" id="replyimage">
                  <% if r.user.image? %>
                    <img src='<%=r.user.image.url%>' class="img-circle">
                  <% else %>
                   <img src='<%= image_url('profile_default.jpg') %>' class ="img-circle">
                  <% end %>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9" id="reply_contents" data-value="<%=r.id%>">
                  <div class="row">
                    <div id="reply_username_content_time1">
                      <a id="replyname" href="/home/profile/<%=r.user.user_hash%>"><%=r.user.name%></a>
                      <span id="replycontent"><%= r.content %></span>
                    </div>
                  </div>
                  <div class="row">
                    <div id="reply_username_content_time2">
                      <span><%=r.writtentime.strftime('%Y-%m-%d %H:%M:%S')%></span>
                      <% unless current_user.nil? %>
                        <% if current_user.id == r.user_id %>
                          <a onclick="edit_reply(<%=r.id%>)" data-value="<%=r.id%>" class="reply_edit">수정</a>
                          <a onclick="del_reply(<%=r.id%>)" data-value="<%=r.id%>" class="reply_delete">삭제</a>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr class="featurette-divider post_divider">
        <div class="row post_writereply_container">
          <div>
            <div class="post_writereply_userimage col-md-2 col-sm-2 col-xs-2">
              <% unless current_user.nil? %>
                <% if current_user.image? %>
                  <img src='<%=current_user.image.url%>' class="img-circle">
                <% else %>
                 <img src='<%= image_url('profile_default.jpg') %>' class ="img-circle">
                <% end %>
              <% else %>
                <img src='<%= image_url('profile_default.jpg') %>' class ="img-circle">
              <% end %>
            </div>
            <div class="post_writereply_content col-md-10 col-sm-10 col-xs-10">
              <textarea class="textarea-box img-rounded reply" cols="100" rows="1" placeholder="Write your reply" data-value="<%=c.id%>"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- image slider layer popup end -->
<!-- Modal for Add image start -->
<div id="addImage" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal_addimage">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">사진 추가</h4>
      </div>
      <div class="modal-body">
        <div class="ui-widget"></div>
        <form accept-charset="UTF-8" action="/home/create_post" enctype="multipart/form-data" class="new_project_request text-left" name="baseForm" method="post">
            <input type="hidden" name="count" value="1">
            <div class="each-form-single-line form-group form-group-lg" style="margin-bottom:5px">
              <div style="margin-bottom:5px">
                <i class="fa fa-camera" title="사진" id="photo" style="font-size:25px;cursor:pointer;"></i>
                <span style="margin-left:5px;margin-right:5px">사진</span><br>
                <textarea style='background-color: #eee;'class="textarea-box img-rounded" cols="100" rows="1" id="filepath" required placeholder="사진을 추가해주세요" readonly></textarea>
                <input required type="file" name="postimage" id="postimage" accept="image/*" style="display:none" onchange="document.getElementById('filepath').value=this.value;">
              </div>
              <div style="margin-bottom:5px">
                <i class="fa fa-map-marker" title="위치"style="font-size:25px;margin-left:5px"></i>
                <span style="margin-left:12px">위치</span><br>
                <textarea id="postcafe" name="postcafe" class="textarea-box img-rounded" cols="100" rows="1" required placeholder="위치를 추가하세요!"></textarea>
              </div>
              <div>
                <i class="fa fa-pencil" title="리뷰"id="review" style="font-size:25px;"></i>
                <span style="margin-left:10px;">리뷰</span><br>
                <span class="star-rating small">
                  <input style="overflow:hidden"  id = "rating" type="radio" name="rating" value="1"><i></i>
                  <input style="overflow:hidden"  id = "rating" type="radio" name="rating" value="2"><i></i>
                  <input style="overflow:hidden"  id = "rating" type="radio" name="rating" value="3"><i></i>
                  <input style="overflow:hidden"  id = "rating" type="radio" name="rating" value="4"><i></i>
                  <input style="overflow:hidden"  id = "rating" type="radio" name="rating" value="5"><i></i>
                </span>
                <textarea class="textarea-box img-rounded" cols="100" rows="1" required name="postcontent" placeholder="무슨 생각을 하고 계신가요?"></textarea>
              </div>
            </div>
            <i class="fa fa-tag" style="font-size:25px;"></i>
            <span style="margin-left:5px">태그</span>
            <i class="fa fa-plus" id="moretag" title="태그" onclick="addForm()" style="cursor:pointer;font-size:12px"></i>
            &nbsp;|
            <i class="fa fa-times"style="cursor:pointer;font-size:13px"onclick="delForm()"></i><br>
            <div id="tag" class="each-form-single-line form-group form-group-lg" style="margin-bottom:0px">
              <input type="text" class="plz" name="0" data-value="0"style="margin-right:5px;border-style:none;border-bottom:0.5px solid #666666" placeholder="태그를 추가하세요!">
            </div>   
            <div>
              <br>
              <input type="checkbox" name="facebook_check" value="checked">&nbsp;페이스북 공유하기
              <input id = "submit_button" class="btn btn-primary" style="float:right" type="submit" value="Post">
            </div>
        </form> 
      </div>
      <div class="modal-footer modal_footer_addimage">   
      </div>
    </div>
  </div>
  <div style="display: none" class="loading"></div>
</div>
<!-- Modal for Add iamge END -->
<!-- Modal for LikeList -->
<div id="like_list" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog_like_list" style="width:20%; height:50%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="like_list_close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">좋아요</h4>
      </div>
      <div class="modal-body" id="likelist_modal_name">
      </div>
      <div class="modal-footer" style="border-style:none">
      </div>
    </div>
  </div>
</div>
<!-- END -->

<!-- Javascript for Google Map --><!--why-->
<script type="text/javascript">
$(document).ready(function(){
  
    var mapOptions = {
        center: new google.maps.LatLng(36.566666,128.716660),
        zoom: 7,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var infowindow;
    var markers = [];
    var locations = [];
    <% @visit.each do |x| %>
    locations.push({
      name: '<%= @caves.where(:id => x).take.name %>',
      thumnail: '<%= @caves.where(:id => x).take.thumnail.url %>',
      address: '<%= @caves.where(:id => x).take.address %>',
      address_road: '<%= @caves.where(:id => x).take.address_road %>',
      image: '<%= @caves.where(:id => x).take.image.url %>',
      cafecontact: '<%= @caves.where(:id => x).take.cafecontact %>',
      cafehash: '<%= @caves.where(:id => x).take.cafehash %>',
      latitude: <%= @caves.where(:id => x).take.latitude %>,
      longitude: <%= @caves.where(:id => x).take.longitude %>,
      user_email: '<%= @caves.where(:id => x).take.user.email %>'
    });
    <% end %>
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    function setMarker(lat,lng,title,html){
    var marker = new google.maps.Marker({
    map:map,
    position: new google.maps.LatLng(lat,lng),
    title: title,
    info: html
    });
    infowindow = new google.maps.InfoWindow({});
  google.maps.event.addListener(marker, 'mouseover', function() {
      map.setZoom(10);
      infowindow.setContent(html);
      infowindow.open(map,marker);
      map.setCenter(marker.getPosition());
  }); 
  google.maps.event.addListener(infowindow, 'closeclick', function(){
    for(var i=0;i<markers.length;i++)
    {
      markers[i].setAnimation(null);
      infowindow.close(map,markers[i]);
      bounds.extend(markers[i].getPosition());
      map.setZoom(7);
      map.setCenter(new google.maps.LatLng(36.566666,128.716660));
    }
  })
  

  
    markers.push(marker);
  }
  var bounds = new google.maps.LatLngBounds();
  for(var i = 0 ; i < locations.length ; i++)
  {
    setMarker(locations[i].latitude,locations[i].longitude,locations[i].address,'<a href="/cafe/cafedetail?hash='+locations[i].cafehash+'"style="decoration:none;color:black"><img src="'+locations[i].image+'" style="width:294.25px;height:260px" class="img-circle"><br>'+'<h5>'+locations[i].name+'</a></h5>'+locations[i].address_road+'<br>'+locations[i].cafecontact+'<br>'+locations[i].user_email);
    bounds.extend(new google.maps.LatLng(locations[i].latitude,locations[i].longitude));
  }
});
  
</script>
<!-- Javascript for Google Map END!!!!-->
<!-- javascript for image slider-->
<script type="text/javascript">
  $(document).ready(function(){
    var windows = document.querySelectorAll("#window");
    var currentId;
    var length = windows.length;
    $(".img_commentimage").click(function(e){
      currentId = $(this).data("value");
      for(var i=0;i<length;i++){
        if(currentId==windows[i].getAttribute('data-value')){
          windows[i].setAttribute('style','display:block');
        }
      }
  
      e.preventDefault();
      
    });

    $(".close").click(function(){
      $("#myModal, #window").hide();
    });
    $('div[name=modal_window]').click(function(){
      $("#myModal, #window").hide();
      $('#myModal').on('hidden.bs.modal', function () {
        //location.reload();
      });
    });
    $('.leftbutton').click(function(){
      var index = $(this).data("value");
      var i=0;
      while(index!=windows[i].getAttribute('data-value')){
        i++;
      }
      if(i==0){
        windows[i].setAttribute('style','display:none');
        windows[length-1].setAttribute('style','display:block');
      }
      else{
        windows[i].setAttribute('style','display:none');
        windows[i-1].setAttribute('style','display:block');
      }
    });
    $('.rightbutton').click(function(){
      var index = $(this).data("value");
      var i=0;
      while(index!=windows[i].getAttribute('data-value')){
        i++;
      }
      if(i==length-1){
        windows[i].setAttribute('style','display:none');
        windows[0].setAttribute('style','display:block');
      }
      else{
        windows[i].setAttribute('style','display:none');
        windows[i+1].setAttribute('style','display:block');
      }
    });
  });
</script>
<!-- END -->
<!-- Add tag start -->
<script type="text/javascript">
   var count = 1;
   function addForm(){
     var addedFormDiv = document.getElementById("tag");
     var addedinput = document.createElement("input"); // 폼 생성
     addedinput.className = 'plz';
     addedinput.type ='text';
     addedinput.placeholder = '태그를 추가하세요!';
     addedinput.name = count;
     addedinput.id = "tag"+count; // input에 ID 부여 (삭제를 위해)
     addedinput.style.cssText = "margin-right:5px;border-style:none;border-bottom:0.5px solid #666666";
     addedFormDiv.appendChild(addedinput); // 삽입할 DIV에 생성한 폼 삽입
     count++;
     document.baseForm.count.value=count;
     // 다음 페이지에 몇개의 폼을 넘기는지 전달하기 위해 히든 폼에 카운트 저장
   }
   function delForm(){
     var addedFormDiv = document.getElementById("tag");

     if(count >1){ // 현재 폼이 두개 이상이면
                count--;
                var addedinput = document.getElementById("tag"+count);
                // 마지막으로 생성된 폼의 ID를 통해 input객체를 가져옴
                addedFormDiv.removeChild(addedinput); // 폼 삭제                  
     }else{ // 마지막 폼만 남아있다면
                document.baseForm.reset(); // 폼 내용 삭제
     }
     document.baseForm.count.value=count;
   }
</script>
<!-- END -->
<!-- Javascript for Post -->
<script type="text/javascript">
  $(document).ready(function(){
    $('i[id=photo]').click(function(e){
      e.preventDefault();
      $('input[id=postimage]').click();
    });
  });
</script>
<!-- Post END -->
<!-- JAvascript for delete Reply -->
<script type="text/javascript">
  function del_reply(id) {
    var replyblocks = document.querySelectorAll("#replyblock");
    for(var i =0; i<replyblocks.length;i++){
      if(id==replyblocks[i].getAttribute('data-value')){
       replyblocks[i].setAttribute('style','display:none');
        $.ajax({
          data: {reply_id: id},
          url: "/cafe/delete_reply"
        });
      }
    }
  }
</script>
<!-- Javascript for delete Reply End -->
<!-- Javascript for edit Reply -->
<script type="text/javascript">
  function edit_reply(id){
    var replyblocks = document.querySelectorAll("#replyblock");
    var reply_contents = document.querySelectorAll("#reply_contents");
    var content = document.querySelectorAll("#replycontent");
    var reply_submit = document.querySelectorAll('.reply_edit');
    var reply_cancel = document.querySelectorAll('.reply_delete');
    var time_span = document.querySelectorAll('#reply_username_content_time2 > span');
    var i = 0;
    var j = 0;
    var k = 0;
    while(id != replyblocks[i].getAttribute('data-value')){
      i++;
    }
    while(id != reply_submit[j].getAttribute('data-value')){
      j++;
    }
    reply_submit[j].textContent=" "+"완료";
    reply_cancel[j].textContent=" "+"취소";
    time_span[i].setAttribute('data-value',id);
    var edit_textarea = document.createElement('textarea');
    edit_textarea.className ='textarea-box img-rounded e_reply';
    edit_textarea.setAttribute('cols',100);
    edit_textarea.setAttribute('rows',1);
    edit_textarea.setAttribute('style','margin-left:0px');
    edit_textarea.setAttribute('data-value',id);
    edit_textarea.textContent=content[i].innerText;
    var added_reply_content_div = document.createElement('div');
    added_reply_content_div.className="col-md-9 col-sm-9 col-xs-9";
    added_reply_content_div.id='reply_contents';
    added_reply_content_div.setAttribute('data-value',id);
    added_reply_content_div.setAttribute('style','padding-left:0');
    added_reply_content_div.appendChild(edit_textarea);
    replyblocks[i].appendChild(added_reply_content_div);
    reply_submit[j].onclick=function(){
      var e_reply = document.querySelectorAll(".e_reply");
      while(id!=e_reply[k].getAttribute('data-value')){
        k++;
      }
      var reply = e_reply[k].value;
      $.ajax({
        data:{reply: reply,
              reply_id: id},
        url:'/cafe/edit_reply',
        success:function(json){
          var json_data = $.parseJSON(json);
          content[i].textContent=" "+reply;
          time_span[i].textContent=json_data.writtentime;
          added_reply_content_div.removeChild(edit_textarea);
          replyblocks[i].removeChild(added_reply_content_div);
          reply_submit[j].textContent=" "+"수정";
          reply_cancel[j].textContent=" "+"삭제";
          reply_cancel[j].onclick=function () {del_reply(id);};
          reply_submit[j].onclick=function () {edit_reply(id);};
        }
      });
    }
    reply_cancel[j].onclick=function(){
      added_reply_content_div.removeChild(edit_textarea);
      replyblocks[i].removeChild(added_reply_content_div);
      reply_submit[j].textContent=" "+"수정";
      reply_cancel[j].textContent=" "+"삭제";
      reply_cancel[j].onclick=function () {del_reply(id);};
      reply_submit[j].onclick=function () {edit_reply(id);};  
    }
  }
</script>
<!-- Javascript for edit Reply End -->
<!-- Javascript for Add Reply -->
<script type="text/javascript">
  $(document).ready(function(){
    var reply_divs = document.querySelectorAll("#reply_div");
    var index;
    $(".reply").keypress(function(e){
      if(e.which == 13){
        var reply = $(this).val();
        var id = $(this).data("value");
        for(var i =0; i<reply_divs.length;i++){
          if(id==reply_divs[i].getAttribute('data-value')){
            index = i;
            $.ajax({
              data: {reply: reply,
                     post_id: id},
              url: "/cafe/add_reply",
              success: function(json){
                var txt = reply;
                var json_data = $.parseJSON(json);
                var added_reply_block_div = document.createElement('div');
                added_reply_block_div.className='row';
                added_reply_block_div.id='replyblock';
                added_reply_block_div.setAttribute('data-value',json_data.id);

                var added_reply_image_div = document.createElement('div');
                added_reply_image_div.className="col-md-3 col-sm-3 col-xs-3";
                added_reply_image_div.id='replyimage';

                var added_reply_content_div = document.createElement('div');
                added_reply_content_div.className="col-md-9 col-sm-9 col-xs-9";
                added_reply_content_div.id='reply_contents';
                added_reply_content_div.setAttribute('data-value',json_data.id);

                var image = document.createElement('img');
                image.className='img-circle';
                <% unless current_user.nil?%>
                  <% if current_user.image? %>
                    image.src = '<%=current_user.image.url %>';
                  <% else %>
                    image.src = '<%= image_url('profile_default.jpg') %>';
                  <% end %>
                <% else %>
                  image.src = '<%= image_url('profile_default.jpg') %>';
                <% end %>

                var rowdiv1 = document.createElement('div');
                rowdiv1.className = 'row';

                var added_reply_username_content_time1 = document.createElement('div');
                added_reply_username_content_time1.id='reply_username_content_time1';

                var added_reply_username_content_time2 = document.createElement('div');
                added_reply_username_content_time2.id='reply_username_content_time2';

                var a_tag = document.createElement('a');
                a_tag.id='replyname';
                <% unless current_user.nil? %>
                  a_tag.text='<%=current_user.name%>';
                <% else %>
                  a.tag.text='';
                <% end %>

                var rowdiv2 = document.createElement('div');
                rowdiv2.className='row';

                var span = document.createElement('span');
                span.id='replycontent';
                var time_span = document.createElement('span');
                var del_a = document.createElement('a');
                del_a.onclick=function () {del_reply(json_data.id);};  
                del_a.className='reply_delete';
                del_a.setAttribute('data-value',json_data.id);
                var edit_a = document.createElement('a');
                edit_a.onclick=function () {edit_reply(json_data.id);};
                edit_a.className='reply_edit';
                edit_a.setAttribute('data-value',json_data.id);

                added_reply_username_content_time1.appendChild(a_tag);
                added_reply_username_content_time1.appendChild(span).textContent=" "+txt;
                added_reply_username_content_time2.appendChild(time_span).textContent=json_data.writtentime;
                added_reply_username_content_time2.appendChild(edit_a).textContent=" "+"수정";
                added_reply_username_content_time2.appendChild(del_a).textContent=" "+"삭제";
                rowdiv1.appendChild(added_reply_username_content_time1);
                rowdiv2.appendChild(added_reply_username_content_time2);
                added_reply_image_div.appendChild(image);
                added_reply_content_div.appendChild(rowdiv1);
                added_reply_content_div.appendChild(rowdiv2);
                added_reply_block_div.appendChild(added_reply_image_div);
                added_reply_block_div.appendChild(added_reply_content_div);
                reply_divs[index].appendChild(added_reply_block_div);
                $(".reply").val("");
                $(".reply").focus();
                e.preventDefault();
              }
            });
          }
        }
      }
    });
  });
</script>
<script type="text/javascript">
  $(document).keyup(function(e){
    if (e.keyCode == 27) {
      $('.like_list_close').click();
      $('.close').click();
    }
  });
</script>
<!-- Posting -->
<!-- Javascript image hover -->
<script type="text/javascript">
$(document).ready(function(){
  $(".img_commentimage").hover(
    function () {
      $(this).css("background-color", "#666");
      $(this).css("opacity","0.8");
    }, 
    function () {
      $(this).css("background-color", "none");
      $(this).css("opacity","1");
    }
  );
});
</script>
<!-- Javascript image hover End -->
<!-- Javascript for Autocomplete -->
<script type="text/javascript">
  $(function() {
    var availableTags = [];
    <% @caves.each do |x| %>
      availableTags.push({label:'<%=x.name%> - <%=x.address%>', value:'<%=x.name%>'});
    <% end %>
    $( "#postcafe" ).autocomplete({
      source: availableTags
    });
  });
  </script>
<!-- Autocomplete END-->

<script type="text/javascript">
$(document).ready(function(){
  <% unless current_user.following?(@access_to_user) %>
    $('#follow').show();
    $('#unfollow').hide();
  <% else %>
    $('#follow').hide();
    $('#unfollow').show();
  <% end %>
  var follower_count = parseInt($('#follower_count').text())
  $('#follow').click(function(){
    ++follower_count;
    $.ajax({
      url: "/home/follow_user/<%=@access_to_user.id%>",
      success:function(){
        $('#follow').hide();
        $('#unfollow').show();
        $('#follower_count').html(" &nbsp; "+follower_count+"개 &nbsp;");
        <% if @access_to_user.followers.count == 0 %>
          $('div#no_follower_modal_name center').remove();
          <% if current_user.image? %>
            $('#no_follower_modal_name').append(' &nbsp; &nbsp'+'<img src="<%=current_user.image.url%>" class="img-circle">&nbsp;');
            $('#no_follower_modal_name').append('<%=current_user.name%>');            
          <% else %>
            $('#no_follower_modal_name').append(" &nbsp; &nbsp;"+'<img src="'+"<%=image_url('profile_default.jpg')%>"+'"class="img-circle">'+" &nbsp;");
            $('#no_follower_modal_name').append('<%=current_user.name%>');
          <% end %>
        <% else %>
          <% if current_user.image? %>
            $('#follower_modal_name').append('<div class="row"><div class="col-lg-8 removing">'+'<img src="<%=current_user.image.url%>" class="img-circle">&nbsp;'+'<%=current_user.name%></div></div>');
          <% else %>
            $('#follower_modal_name').append('<div class="row"><div class="col-lg-8 removing">'+'<img src="'+"<%=image_url('profile_default.jpg')%>"+'"class="img-circle">'+" &nbsp;"+'<%=current_user.name%></div>');
          <% end %>
        <% end %>
      }
    });
  });
  $('#unfollow').click(function(){
    --follower_count;
    $.ajax({
      url: "/home/unfollow_user/<%=@access_to_user.id%>",
      success:function(){
        $('#follow').show();
        $('#unfollow').hide();
        $('#follower_count').html(" &nbsp; "+follower_count+"개 &nbsp;");
        $('div.removing:contains("<%=current_user.name%>")').remove();
      }
    });
  });
  <% @followers.each do |follower| %>
    <% unless current_user.following?(follower) %>
      $('#other_follow_<%=follower.id%>').show();
      $('#other_unfollow_<%=follower.id%>').hide();
    <% else %>
      $('#other_follow_<%=follower.id%>').hide();
      $('#other_unfollow_<%=follower.id%>').show();
    <% end %>
    $('#other_follow_<%=follower.id%>').click(function(){
      $.ajax({
        url: "/home/follow_user/<%=follower.id%>",
        success:function(){
          $('#other_follow_<%=follower.id%>').hide();
          $('#other_unfollow_<%=follower.id%>').show();
        }
      });
    });
    $('#other_unfollow_<%=follower.id%>').click(function(){
      $.ajax({
        url: "/home/unfollow_user/<%=follower.id%>",
        success:function(){
          $('#other_follow_<%=follower.id%>').show();
          $('#other_unfollow_<%=follower.id%>').hide();
        }
      });
    });
  <% end %>
  <% @follows.each do |follow| %>
    <% unless current_user.following?(User.where(:id => follow.followable_id).take)%>
      $('#other_following_<%=follow.id%>').show();
      $('#other_unfollowing_<%=follow.id%>').hide();
    <% else %>
      $('#other_following_<%=follow.id%>').hide();
      $('#other_unfollowing_<%=follow.id%>').show();
    <% end %>
    $('#other_following_<%=follow.id%>').click(function(){
      $.ajax({
        url: "/home/follow_user/<%=follow.id%>",
        success:function(){
          $('#other_following_<%=follow.id%>').hide();
          $('#other_unfollowing_<%=follow.id%>').show();
        }
      });
    });
    $('#other_unfollowing_<%=follow.id%>').click(function(){
      $.ajax({
        url: "/home/unfollow_user/<%=follow.id%>",
        success:function(){
          $('#other_following_<%=follow.id%>').show();
          $('#other_unfollowing_<%=follow.id%>').hide();
        }
      });
    });
  <% end %>
})
</script>

<script type="text/javascript">
$(document).ready(function(){
  <% @access_to_user.posts.each do |c| %>
    <% unless current_user.following?(@access_to_user) %>
      $('#follow_<%=c.id%>').show();
      $('#unfollow_<%=c.id%>').hide();
    <% else %>
      $('#follow_<%=c.id%>').hide();
      $('#unfollow_<%=c.id%>').show();
    <% end %>
    $('#follow_<%=c.id%>').click(function(){
       $.ajax({
      url: "/home/follow_user/<%=@access_to_user.id%>",
      success:function(){
        $('#follow_<%=c.id%>').hide();
        $('#unfollow_<%=c.id%>').show();
      }
      });
    });
    $('#unfollow_<%=c.id%>').click(function(){
       $.ajax({
      url: "/home/unfollow_user/<%=@access_to_user.id%>",
      success:function(){
        $('#follow_<%=c.id%>').show();
        $('#unfollow_<%=c.id%>').hide();
      }
      });
    });
  <% end %>
})
</script>

<script type="text/javascript">
$(function(){
  $("#submit_button").click(function(e){
     e.preventDefault();
     $('.loading').show();
     $(this).closest('form').submit();
  });
})  
</script>

<script type="text/javascript">
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
    // options
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: 160,
    fitWidth: true
  });
  $('.grid').imagesLoaded().progress( function() {
    $('.grid').masonry();
  });
</script>

<script type="text/javascript">
$(function(){
  <% @access_to_user.posts.each do |p| %>
    var liked = <%= p.likes.where(:user_id => current_user.id).blank? %>
    var like_count_first =  parseInt($("#like_count_<%= p.id %>").text())
    if(like_count_first==0)
    {
      $("#like_list_button_<%= p.id %>").hide();
    }
    else
    {
      $("#like_list_button_<%= p.id %>").show();
    }
        
    if(!liked)
    {
      $("#like_button_"+<%= p.id %>).removeClass("fa-heart-o").addClass("fa-heart");
    }
    $("#like_button_"+<%= p.id %>).click(
      function(){
        var like_count =  parseInt($("#like_count_<%= p.id %>").text())
        // var like_text =  $("#like_button_<%= p.id %>").text()      
        
        if($("#like_button_<%= p.id %>").hasClass('fa-heart-o'))
        {
          ++like_count
          
          $.ajax({
            data: {
                post_id: <%= p.id %>
            },
            url: "/home/like_save",
            success: function(){
              $("#like_count_"+<%= p.id %>).html(""+like_count);
              $("#like_count_card_"+<%= p.id %>).html(""+like_count);
              if(like_count==0)
              {
                $("#like_list_button_<%= p.id %>").hide();
                $("#like_list_card_button_<%= p.id %>").hide();
              }
              else
              {
                $("#like_list_button_<%= p.id %>").show();
                $("#like_list_card_button_<%= p.id %>").show();
              }
              $("#like_button_"+<%= p.id %>).removeClass("fa-heart-o").addClass("fa-heart");
            }
          });
        }
        else
        {
          --like_count
      
          $.ajax({
              data: {
                  post_id: <%= p.id %>
              },
              url: "/home/like_cancel_save",
              success: function(){                
                $("#like_count_"+<%= p.id %>).html(""+like_count);
                $("#like_count_card_"+<%= p.id %>).html(""+like_count);
                if(like_count==0)
                {
                  $("#like_list_button_<%= p.id %>").hide();
                  $("#like_list_card_button_<%= p.id %>").hide();
                }
                else
                {
                  $("#like_list_button_<%= p.id %>").show();
                  $("#like_list_card_button_<%= p.id %>").show();
                }
                $("#like_button_"+<%= p.id %>).removeClass("fa-heart").addClass("fa-heart-o");
              }
          });
        }
      }
    );
    $("#like_list_button_"+<%= p.id %>).click(function(){
    $.ajax({
      url: "/home/like_read/"+<%= p.id %>,
      success:function(json){
        var json_data = $.parseJSON(json);
        var i;
        $('#likelist_modal_name').html(''); 
        for(i=0;i<json_data.length;i++)
        {
          if(json_data[i].image.url ==null)
            $('#likelist_modal_name').append('<div class="row removing"><div class="col-lg-12">'+'<a href="/home/profile/'+json_data[i].user_hash+'"'+'style="color:black">'+'<img src="<%=image_url('profile_default.jpg')%>" class="img-circle">&nbsp;'+json_data[i].name+'</a></div></div><br>');
          else
            $('#likelist_modal_name').append('<div class="row removing"><div class="col-lg-12">'+'<a href="/home/profile/'+json_data[i].user_hash+'"'+'style="color:black">'+'<img src="'+json_data[i].image.url+'" class="img-circle">&nbsp;'+json_data[i].name+'</a></div></div><br>');
        }        
      }
    });
  });
  <% end %>

})  
</script>