<div class="devise-container" id="gradient" style="overflow:hidden" >
   <div class="popupContainer" style="background-color: transparent;">        
      <!-- Username & Password Login form -->
      <h1 href="/" style="color:white; font-weight:bold">PURE.</h1>
      <br>
      <p style="color:white; font-weight:bold">하루의 시작을 알리는 커피,</p>
      <p style="color:white; font-weight:bold">당신의 스페셜티를 Pure와 함께 하세요</p>  
      <br>
      <hr>
      <br>
      <div class="user_login">        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="each-form-single-line form-group form-group-lg">
            <%= f.email_field :email, autofocus: true, class: "input", placeholder: '이메일' %>
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: '비밀번호' %>
          </div>
          <br>
          <div class="actions">
            <input class="btn btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="로그인" style="border: 1px solid white; background-color:transparent; font-size: small; color:white; font-weight:bold "id="submit_button">
          </div>
        <% end %>
      </div>
      <a href="/users/sign_in">
        <p style="color:white; font-weight:bold">
          또는
        </p>
      </a>
      <div class = "each-form-single-line form-group form-group-lg">
        <%- resource_class.omniauth_providers.each do |provider| %>
            <br>
            <%= image_tag 'facebook.png',:width => 18, :height => 18  %>
            <%= link_to "#{OmniAuth::Utils.camelize(provider)}으로 로그인",omniauth_authorize_path(resource_name, provider) ,class: "facebook" %>
            <br />
        <% end %>
      </div>
      <hr>
      <div class = "popup_bottom">
        <p><a href="/users/sign_up" style="color:white; font-weight:bold">회원 가입하기</a>&nbsp;<a style="color:white; font-weight:bold">&nbsp;&nbsp;|&nbsp;&nbsp;</a>&nbsp;<a href="/users/password/new" style="color:white; font-weight:bold">비밀번호 찾기</a></p>
      </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</div>
<script type="text/javascript">
  var colors = new Array(
    [45,175,230],
    [255,0,255],
    [62,35,255],
    [255,35,98],
    [60,255,60],
    [255,128,0]);

  var step = 0;
  //color table indices for: 
  // current color left
  // next color left
  // current color right
  // next color right
  var colorIndices = [0,1,2,3];

  //transition speed
  var gradientSpeed = 0.002;

  function updateGradient()
  {
    
    if ( $===undefined ) return;
    
  var c0_0 = colors[colorIndices[0]];
  var c0_1 = colors[colorIndices[1]];
  var c1_0 = colors[colorIndices[2]];
  var c1_1 = colors[colorIndices[3]];

  var istep = 1 - step;
  var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
  var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
  var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
  var color1 = "rgb("+r1+","+g1+","+b1+")";

  var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
  var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
  var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
  var color2 = "rgb("+r2+","+g2+","+b2+")";

  document.getElementById("gradient").style.background="-webkit-gradient(linear, left top, left bottom, from("+color1+"), to("+color2+"))";/* Old browsers */
  document.getElementById("gradient").style.background="-webkit-linear-gradient("+color1+", "+color2+")";/* FF3.6+ */
  document.getElementById("gradient").style.background="-moz-linear-gradient(top, "+color1+", "+color2+")";/* Chrome,Safari4+ */
  document.getElementById("gradient").style.background="-ms-linear-gradient("+color1+", "+color2+")";/* Chrome10+,Safari5.1+ */
  document.getElementById("gradient").style.background="-o-linear-gradient("+color1+", "+color2+")";/* Opera 11.10+ */
  document.getElementById("gradient").style.background="linear-gradient("+color1+", "+color2+")";/* IE10+ */
  document.getElementById("gradient").style.filter="progid:DXImageTransform.Microsoft.Alpha(startColorstr='"+color1+"', endColorstr='"+color2+"')";/* IE6-9 */
    
  step += gradientSpeed;
  if ( step >= 1 )
  {
    step %= 1;
    colorIndices[0] = colorIndices[1];
    colorIndices[2] = colorIndices[3];
    
    //pick two new target color indices
    //do not pick the same as the current one
    colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
    colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
    
  }
  }
  setInterval(updateGradient,10);
</script>