<div class="devise-container">
   <div class="popupContainer">        
      <!-- Edit Profile form -->
      <div> 
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="each-form-single-line form-group form-group-lg">
            <h5>새 비밀번호
            <% if @minimum_password_length %>
            (최소 <%= @minimum_password_length %>자 이상)
            <% end %>
            </h5>
            <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: 'New Password'  %>
          </div>

          <div class="field">
            <h5>비밀번호 확인</h5>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: 'Confirm Password'  %>
          </div>
          <%# if devise_mapping.rememberable? -%>
            <!-- <div class="field"> -->
              <%#= f.check_box :remember_me %>
              <%#= f.label :remember_me %>
            <!-- </div> -->
          <%# end -%>
          <br><%= devise_error_messages! %><br>
          <div class="actions">
            <input class="btn btn-danger btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="비밀번호 변경" id="submit_button">
          </div>
        <% end %>
        <div class = "popup_bottom">
          <br>
          <br>       
        </div>
        
      </div>

      
  </div>
</div>


