<div class="devise-container">
   <div class="popupContainer">     
      <!-- UserFindPassword Form -->
      <div class="user_findpassword">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="each-form-single-line form-group form-group-lg">
            <h6>PureBlack에 가입하실 때 사용하신 이메일을 입력하시면</h6>
            <h6>새 비밀번호를 보내드립니다.</h6>
            <br>  
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg",placeholder: 'Enter Your Email Address' %>
          </div>
          <br><%= devise_error_messages! %>
          <div class="actions">
            <input class="btn btn-danger btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="비밀번호 재설정" id="submit_button">
          </div>
        <% end %>
        <div class = "popup_bottom">
          <br><p>이미 계정이 있으신가요? <a href="/users/sign_in">기존 계정으로 로그인</a></p>
          <br><p>아직 아이디가 없으신가요? <a href="/users/sign_up">가입하기</a></p>
          <br><p>또는</p>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <br>
            <%= image_tag 'facebook.png',:width => 18, :height => 18  %>
            <%= link_to "#{OmniAuth::Utils.camelize(provider)}으로 로그인", omniauth_authorize_path(resource_name, provider),class: "facebook" %>
            <br />
          <% end -%>
        </div>
      </div>
      
  </div>
</div>




